/* INDEX CSS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap'); 
{
    box-sizing: border-box;
    /* Sizing helper: See Workbook 1b, page 2-33. */

    /* 
       Vizualization helper: While styling or debugging your HTML & CSS, 
       uncomment the rule below to see all the boxes on your page more
       clearly! (Remove this outline before submitting: users won't 
       want to see it!)
    */
    /* outline: 1px dotted red; */
} 

footer {
    background-color: #f8f8f8;
    color: #999;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 13px;
}

footer nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

footer nav ul li {
    margin: 0 20px;
}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 20px 0;
    padding: 0;
}

footer ul li {
    margin: 0 20px;
}


/*============================ SMALL LAPTOPS AND BIG TABLETS================================== */
@media screen and (max-width: 1200px) {
    .container {
        width: 96%
}

main .container {
    grid-template-columns: 5rem auto 30vw;
    gap: 1rem;
}

.left {
    width: 5rem;
    z-index: 5;
}

main .container .left .profile {
    display: none;
}

.sidebar h3 {
    display: none;
}

.left .btn {
    display: none;
}
}

/*============================ SMALL TABLETS & PHONES================================== */
@media screen and (max-width: 992px) {
    main .container {
        grid-template-columns: 0 auto 5rem;
        gap: 0;
    }
    main .container .left {
        grid-column: 3/4;
        position: fixed;
        bottom: 0;
        right: 0;

        }

    }
    
